{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="auth">
    <div class="card authcard">

        <h1>Reset Password</h1>
        <p>Create a new password for your FMEA account.</p>

        {% if error %}
        <div class="err">
            {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <div class="success">
            {{ success }}
        </div>
        {% endif %}

        {% if not success %}

        <form method="post">

            <label>Username</label>
            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <label>New Password</label>
            <input
                type="password"
                id="new_password"
                name="new_password"
                placeholder="Enter new password"
                required
            >

            <small>
                Minimum 8 characters, 1 uppercase letter,
                1 number and 1 special symbol.
            </small>

            <label>Confirm New Password</label>
            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm new password"
                required
            >

            <button type="submit" class="primary full">
                Change Password
            </button>

        </form>

        {% endif %}

        <div class="links">
            <a href="{{ url_for('login') }}">
                Back to Login
            </a>
        </div>

    </div>
</div>

{% endblock %}
